body {
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.squareDiv {
    aspect-ratio: 1;
    min-width: 0px;
    background-color: rgb(252, 229, 247);
    border: 1px solid rgb(37, 37, 37);
}

.squareDiv.hovered {
    background-color: rgb(181, 181, 250);
}

#clear {
    margin: 15px 0px 20px 0px;
    padding:5px 10px 5px 10px;
    font-family: 'Courier New', Courier, monospace;
}