.gridContainer {
    display:grid;
    grid-template-columns: repeat(16, 1fr);
}
.squareDiv {
    aspect-ratio: 1;
    background-color: rgb(243, 215, 137);
    border: 1px solid rgb(78, 60, 12);
}

.squareDiv.hovered {
    background-color: rgb(110, 84, 12);
    border: 1px solid rgb(78, 60, 12);
}